@use '@angular/material' as mat;

@include mat.core();

// Estilos globales
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 20px;
}

.full-width {
  width: 100%;
}